<a href="https://colab.research.google.com/github/Niru27405/python_files/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Series
Series is a data structure
only 1D data can be created

Initialize a series from list

In [5]:
import pandas as pd
data = [1,2,3,4,5]
S = pd.Series(data)
print(S)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Initialize a Series from a dictionary

In [6]:
import pandas as pd
data = {'a':1,'b':2,'c':3}
a = pd.Series(data)
print(a)

a    1
b    2
c    3
dtype: int64

Initialize a Series with custom index

In [8]:
import pandas as pd
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
a = pd.Series(data,index = index)
print(a)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
import pandas as pd
data = [23,35,46,57,12,18,29]
index = ['Ram','Isha','Elsa','Tom','Riya','Bunny','Sherya']
a = pd.Series(data,index = index)
print(a)

Ram       23
Isha      35
Elsa      46
Tom       57
Riya      12
Bunny     18
Sherya    29
dtype: int64

Series Addition - Arithmetic Operations

In [13]:
import pandas as pd
a = pd.Series([1,2,3])
b = pd.Series([4,5,6])
sum = a+b
print(sum)

0    5
1    7
2    9
dtype: int64

Combining and printing if the index is available in both a and b

In [15]:
import pandas as pd
a = pd.Series([1,2,3],index= ['a','b','c'])
b = pd.Series([4,5,6],index= ['b','c','d'])
sum = a+b
print(sum)

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64